element.style{ }
  .title{font-family: 'Satisy',cursive;font-size:200%;}
*{margin:10px;padding:10px;box-sizing: border-box;}
.nav-bar{ background-color:tan;
padding: 0px 0px;margin-bottom: 15px;}
.image-container{display: flex;
  flex-direction: roxw;flex-wrap: wrap;justify-content: center;}
.image-container img{height: 350px; width: 350px}
